
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #202523;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;

}

.button:hover {
  background-color: #45b56e;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(0, 255, 225, 0.601) 0 6px 12px;
}

.starry-night-fg {
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  text-align: center;
  position:fixed;
  overflow-y:auto;
  height: 80%;
  box-shadow: 0 0 30px #0b97dd;
  display: block;
  left: 0;
  nav-up: 0;
  nav-right: 0;
}

.starry-night-fg::-webkit-scrollbar {
  width: 10px;
  background-color: #0bdd892e;
}
.starry-night-fg::-webkit-scrollbar-track {
  background: #a7252541;
}

/* Handle */
.starry-night-fg::-webkit-scrollbar-thumb {
  background: #699bd083;
}

/* Handle on hover */
.starry-night-fg::-webkit-scrollbar-thumb:hover {
  background: #10b2ed88;
}

.intermediate {
  position: fixed;
}